
body {
  font-family: "Source Code Pro";
}

.scrabble-table {
    border-collapse: collapse;
    table-layout: fixed;
    border: 20px solid rgba(0,0,0,0.6);
}

.scrabble-td {
    border: 1px solid #FAFAFA;
    background: #EFEBE9;
    padding: 14px;
    width: 14px;
    font-size: 14px;
    line-height: 14px;
    display: inline-block;
    text-align: center;
}


.score {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 90%;
    transform: translate(-65%, -50%);
}

.double-word {
    background-color:#EF9A9A;
}

.triple-word {
    background-color: #EF5350;
}

.double-letter {
    background-color: #81D4FA;
}

.triple-letter {
    background-color: #039BE5;
}
